@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify.min.css";

body {
    min-height: 100vh;
  
    #root {
      min-height: 100vh;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      flex-direction: column;
  
      .container {
        flex-grow: 1;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .app-container {
        min-height: 100vh;
      }
      
      .all-publications{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
      }
    }
  
    p, h1, h2, h3, h4, h5, h6, span {
      cursor: default;
    }
    
  }