.publications-wrapper {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;

  h1 {
    font-size: 1.4rem;
  }

  .popular-publications,
  .all-publications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

}
