@import '../../../../node_modules/react-tabs/style/react-tabs.scss';

.product-card {
  h1 {
    font-size: 1.6rem;
  }

  tr,
  td,
  h1 {
    cursor: default;
  }

  //   .row {
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //   }

  .product-description {
    h1 {
      font-size: 1.4rem;
    }
  }
}
